@font-face {
  font-family: "iconfont"; /* Project id 2566083 */
  src: url('//at.alicdn.com/t/font_2566083_s4d1q3vzxb.woff2?t=1621821419887') format('woff2'),
       url('//at.alicdn.com/t/font_2566083_s4d1q3vzxb.woff?t=1621821419887') format('woff'),
       url('//at.alicdn.com/t/font_2566083_s4d1q3vzxb.ttf?t=1621821419887') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "\e621";
}

.icon-lastpaly:before {
  content: "\e6d7";
}

.icon-download:before {
  content: "\e633";
}

.icon-local:before {
  content: "\e6f6";
}

.icon-radio:before {
  content: "\e693";
}

.icon-music:before {
  content: "\e630";
}

.icon-video:before {
  content: "\e6e7";
}

.icon-qqmusic:before {
  content: "\e62f";
}

.icon-home:before {
  content: "\e609";
}

.icon-jian:before {
  content: "\e715";
}

.icon-screen-stretch:before {
  content: "\ea1e";
}

.icon-screen-shrink:before {
  content: "\ea1f";
}
