@import '@/style/variables.less';
.container {
  width: @progress-width;
  height: @progress-height;
  background-color: @progress-bg-color;
  .progress {
    height: @progress-height;
    background-color: @progress-done-bg-color;
  }
}
