@import '@/style/variables.less';
.toplay {
  font-size: @cardlist-toplay-width;
  position: absolute;
  top: @cardlist-toplay-relative;
  left: @cardlist-toplay-relative;
  color: #fff;
  &:hover {
    color: @cardlist-toplay-hover-color;
    opacity: 1;
  }
}
.listen {
  user-select: none;
  background-color: @black;
  opacity: 0.8;
  font-size: 12px;
  color: #fff;
  position: absolute;
  width: fit-content;
  border-radius: 20px;
  padding: 4px 8px;
  bottom: 10px;
  right: 10px;
  & > i {
    font-size: 12px;
    margin-right: 5px;
  }
}
