@import '@/style/variables.less';
.container {
  padding: calc((@page-height - 20px - 39px - 500px - 20px) / 2) 0;
  margin: 0 60px;
  width: calc(@page-width - 200px);
  position: relative;
  z-index: 1;
  overflow-x: scroll;
  user-select: none;
  // 滚动条
  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}
