@import '@/style/variables.less';
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: @singercard-width;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    div:first-child {
      width: @singercard-item-width;
      height: @singercard-item-width;
      border-radius: @singercard-item-width;
      overflow: hidden;
    }
    & > div > img {
      -webkit-user-drag: none;
      width: @singercard-item-width;
      height: @singercard-item-width;
      border-radius: @singercard-item-width;
      transition: transform 300ms;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    div:last-child {
      margin-top: 20px;
      font-size: 18px;
      transition: color 300ms;
      &:hover {
        color: @green;
        cursor: pointer;
      }
    }
  }
}
