@import '@/style/variables.less';

.container {
  height: @playlistmodal-height;
  width: @playlistmodal-width;
  background-color: @playlistmodal-bgcolor;
  box-shadow: -10px 0 10px #99999930;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  .head {
    .title {
    }
    .bottom {
      .songNum {
      }
      .botton {
      }
    }
  }
  .content {
  }
}
